.characterList {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	list-style: none;
	justify-content: center;
	padding-bottom: 7em;

	li {
		figure {
			display: flex;
			height: 190px;
			width: 400px;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
			background-color: #3c3e44;
		}
		img {
			width: 150px;
			border-top-left-radius: 1em;
			border-bottom-left-radius: 1em;
		}
		figcaption {
			ul {
				list-style: none;
				display: flex;
				flex-direction: column;
				gap: 0.8em;
				padding-left: 1em;
				padding-top: 1em;
				justify-content: space-around;

				li span:nth-child(1) {
					display: inline-block;
					width: 10px;
					height: 10px;
					border-radius: 50%;
					margin-right: 5px;
				}
				.Alive {
					background-color: green;
				}
				.Dead {
					background-color: red;
				}
				
				.unknown {
					background-color: orange;
				}
				li:nth-child(3) {
					color: rgb(158, 158, 158);
				}
			}
		}
	}
}

@media (width < 800px) {
	.characterList {
		font-size: 0.9em;
		li {
			figure {
				width: 340px;
				min-height: 150px;
				max-height: auto;
			}
			
			img {
				width: 130px;
			}
			
		}
	}
}
